@import "../../style/_mixins.index.styl"

.modal-window__wrapper
  z-index: 900
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(#000, 0.5)

.modal-window__window
  z-index: 1000
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  min-width: 750px
  min-height: 150px
  padding: 10px 45px 35px 45px
  background-color: #fff
  border-radius: 8px
  overflow: hidden

.modal-window__button-close
  z-index: 1000
  position: absolute
  top: 30px
  right: 30px
  display: block
  width: 45px
  height: 45px
  padding: 0
  background-color: transparent
  background-image: url(./images/close.svg)
  background-repeat: no-repeat
  background-position: 50% 50%;
  background-size: 45px 45px
  border: none
  cursor: pointer

.modal-window__button-close-text
  visually-hidden()

