@import "../../../../style/_variables.styl"

.page-steps__signature-wrapper
  padding-top: 30px

.page-steps__signature-inner-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 5px

.page-steps__signature-text
  font-weight: 500
  color: #8b8b8b
  padding-left: 10px

.page-steps__signature-button
  font-weight: 700
  color: blue
  padding-right: 10px
  background-color: transparent
  border: none

.page-steps__signature
  border: 2px solid #ececec
  border-radius: 8px

