@import "../../../../style/_variables.styl"
.steps-page__personal-detail
  .steps-review__wrapper
    width: 100%
    padding-left: 50px
    padding-right: 50px

  .steps-review__inner
    width: 50%

  .steps-review__title
    width: 250px

  .steps-review__text
    width: 250px
    text-align: left

  .steps-review__inner--total
    display: flex
    justify-content: flex-end
    align-items: flex-start
    flex-wrap: wrap

    .steps-review__text
      width: auto


