// GRID
breakpoint-desktop-hd = 1920px

container-width = 1100px

// TYPOGRAPHY
font-family-sans-serif = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif
font-family-raleway = "Raleway", font-family-sans-serif

font-size-base = 14px
font-size-title-base = 24px

line-height-base = (23 / 14)
line-height-title-base = (28 / 24)

// COLORS
// main colors
white = #fff
black = #000
gray = #c4c4c4
blue = #36436b
green = #6ab142
red = #f49b9b

color-text-base = black
color-text-light = white

color-title-base = blue

// OTHER
// duration
duration-base = 0.3s
duration-animation = 0.5s

// opacity active link and button
opacity-active = 0.7