@import "./_variables.styl"

.button
  display: inline-block
  vertical-align: middle
  font-family: font-family-raleway
  text-decoration: none
  outline: none
  cursor: pointer

  &:active
    opacity: opacity-active

.button--small
  font-size: font-size-base
  line-height: (16 / 14)

.button-bordered
  font-weight: 500
  color: green
  text-transform: uppercase
  border: 1px solid green
  border-radius: 8px
  background-color: transparent

  &:hover
    box-shadow: 2px 2px 5px rgba(black, 0.1);

.button-main
  padding: 10px
  font-weight: 600
  font-size: 16px
  line-height: (19 / 16)
  color: white
  text-align: center
  text-transform: uppercase
  background-color: green
  border: 2px solid green
  border-radius: 8px
  transition-property: background-color, color
  transition-duration: duration-base

  &:hover
    background-color: darken(green, 20%)

  &:active
    background-color: darken(green, 40%)
    opacity: 1

  &:disabled
    background-color: transparent
    cursor: default
    color: green

.button-count
  padding-top: 10px
  width: 20px
  height: 57px
  background-color: transparent
  font-size: 48px
  line-height: 1
  border: 0

.button-count--minus
  margin-right: 30px
  margin-left: 85px

.button-count--plus
  margin-left: 30px
  margin-right: 85px