@import "../../style/_variables.styl"

.page-header
  background-color: #fff
  box-shadow: 4px 0 10px rgba(black, 0.1)

.page-header__logo
  flex: 0 0 13%

.page-header__main-nav
  flex: 0 0 68%

.page-header__user-block
  display: flex
  flex-direction: column
  justify-content: flex-end
  flex: 0 0 19%

.page-header__lang-switch
  flex: 0 0 100%
  display: flex
  justify-content: flex-end
  padding-right: 40px
