@import '../../../../style/_variables.styl'
@import '../../../../style/_mixins.index.styl'

.contact-us
  padding-left: 50px
  padding-right: 50px

.contact-us__container
  container()
  justify-content: space-between

.contact-us__item
  flex: 0 0 43%
