@media screen and (max-width: 450px) {
    .AllTeamEdit{
        .AllTeamEdit__main-container{
            padding: 0 10px
        }

        .AllTeamEdit__header {
            padding: 15px 0
        }
        .AllTeamEdit__save-button {
            width: 100px
            left: calc(50% - 50px)
            top: 50px
        }

        .positionIndex{
            padding: 30px 0
        }

        .sign-up__column {
            flex-basis: 100%
            margin-bottom: 0
        }
        .NewTeamMember__group {
            width: 100%
            // margin-bottom: 30px

            .input-file{
                margin-bottom: 6px
            }
        }
    }
}