.TeamMemberItem {
	padding: 0 30px 20px 30px
	// width: 150px
	// height 150px
	cursor: pointer
}
.TeamMemberItem__photo {
	height 80%
	width: 120px
	height 120px

}
.TeamMemberItem__name {
	color: #36436b
	font-weight bold
}
.TeamMemberItem__position {

}
