@import "../../../../style/_variables.styl"
@import "../../../../style/_mixins.index.styl"

.who-are-we__container
  container()
  justify-content: space-between
  padding-left: 50px
  padding-right: 50px

.who-are-we__item
  img
    float: right
    width: 47%


