@import "../../style/_variables.styl"
@import "../../style/_mixins.index.styl"

.lang-switch
  min-width 145px

.lang-switch__text
  span
    padding-right: 5px

.lang-switch__label
  text-transform: uppercase
  cursor: pointer

.lang-switch__label--active
  color: green

.lang-switch__button
  visually-hidden()
