@import "../../style/_variables.styl"

.page-footer
  min-height: 92px
  color: color-text-light
  background-color: blue

  .container
    min-height: inherit
    justify-content: center
    align-items: center

.page-footer__copyright
  flex: 0 0 73%

.page-footer__lang
  flex: 0 0 19%
  text-align: right