@import "../../../style/_variables.styl"

.container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: container-width
  max-width: container-width
  margin-left: auto;
  margin-right: auto;