.steps-page__personal-detail
  padding-top: 50px
  padding-bottom: 30px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  border-bottom: 2px solid #ececec
  border-top: 2px solid #ececec

  .steps-review__wrapper
    width: 100%
    padding-left: 50px
    padding-right: 50px

  .steps-review__inner
    width: 50%

  .steps-review__title
    width: 220px
    text-align: right

  .steps-review__text
    text-align: left

[dir=ltr]
  .steps-page__personal-detail
    .steps-review__title
      text-align: left

    .steps-review__text
      text-align: right