.create-project__article-wrapper
  margin-bottom: 10px

  .input-file
  .form-control
  .create-project__article-button-wrapper
    width: 100% !important

.create-project__article-button-wrapper
  display: flex
  flex-direction: row
  flex-grow: 0
  flex-shrink: 0
  justify-content: flex-end
  padding-top: 10px

.create-project__article-button
  position: relative
  font-weight: 600
  font-size: 14px
  line-height: 16px
  color: #36436B
  text-decoration: none

  &::before
    content: ""
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 1px
    background-color: #36436B