@import "../../../style/_variables.styl"

.steps-page
  padding-left: 50px
  padding-right: 50px

.steps-page__content
  padding-top: 50px

.steps-page__header
  text-align: center
  padding-left: 90px
  padding-right: 90px

.steps-page__title
  margin-top: 0
  margin-bottom: 35px
  font-weight: 600
  font-size: 18px
  line-height: (21 / 18)
  color: blue

.steps-page__text
  margin-top: 0
  margin-bottom: 50px

.steps-page__form
  padding-left: 40px
  padding-right: 40px

.steps-page__field-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.steps-page__field-wrapper--center
  flex-direction: column
  justify-content: flex-start
  align-items: center

  .log-in__forgot
    margin-left: auto
    margin-right: 240px

  .steps-page__control-wrapper
    flex: 0 0 44px
    width: 47%

  .steps-page__control-wrapper--count
    width: 22%

    .form-control__field
      color: blue
      font-size: 24px
      font-weight: 500
      text-align: center
      padding: 5px

    .form-control__label--short
      display: none

.steps-page__field-wrapper--count
  flex-direction: row
  justify-content: center
  padding-bottom: 50px
  align-items: flex-start

  .steps-page__control-wrapper--count
    flex: 0 0 22%
    width: 22%

.steps-page__control-wrapper
  flex: 0 0 47%

.steps-page__button-wrapper
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between
  padding-top: 54px

.steps-page__button-wrapper--center
  justify-content: center

.steps-page__button
  width: 235px

.steps-page__count-text
  padding-top: 25px
  color: blue
  font-size: 24px
  line-height: (28 / 24)
  text-transform: uppercase
  font-weight: 600

.steps-page__button-close-modal-wrapper
  padding: 10px
  padding-bottom: 0

.steps-page__button-close-modal
  width: 200px

.steps-page__content-modal-text
  padding-top: 25px
  padding-left: 30px
  padding-right: 30px
  text-align: center
  font-size: 16px
  font-weight: 600

.steps-page__content__modal
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  min-height: 100px

.steps-page__text-no-margin
  margin-bottom: 10px

.steps-page__link
  display: block
  color: blue
  font-weight: 600
  margin-bottom: 30px